<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Solutions" Publisher="CN=Prathyush" Version="2.0.0.8" />
  <Properties>
    <DisplayName>Solutions to BE</DisplayName>
    <PublisherDisplayName>Prathyush</PublisherDisplayName>
    <Logo>StoreLogo_50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Solutions to BE.App">
      <VisualElements DisplayName="Solutions to BE" Logo="StoreLogo_1_150x150.png" SmallLogo="StoreLogo_2_30x30.png" Description="Code-Tronix" ForegroundText="dark" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>